*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul li {
  list-style-type: none;
  display: block;
}

:root {
  --global-color-background: rgb(203, 216, 240);
  --global-color-grey-light: rgb(165, 165, 165);
  --global-color-grey-dark: rgb(84, 91, 94);
  --btn-color-blue: rgb(0, 140, 255);
  --btn-color-orange: rgb(255, 187, 0);
  --btn-color-green: rgb(98, 202, 0);
}

p {
  line-height: 1.5rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  width: 100%;
}

.App {
  width: 100%;
  height: 100%;
}

.website-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--global-color-background);
  padding: 3rem 0;
}

.website-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 3rem;
}

.website-info h1 {
  margin-bottom: 1rem;
}

.website-info .text-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.website-info .text-boxes-container .text-box {
  width: 30%;
  margin: 0 1rem;
  border: 1px solid black;
  padding: 1rem;
}

.website-info .text-boxes-container .text-box .text {
  text-align: justify;
  overflow: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.website-info .text-boxes-container .text-box .btn {
  padding: 1rem 0;
  background-color: white;
  width: 10rem;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

.website-info .text-boxes-container .text-box .btn:hover {
  background-color: black;
  color: white;
}

.interactive-map {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.interactive-map .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 3rem;
}

.interactive-map .categories .text-container {
  margin-bottom: 3rem;
}

.interactive-map .categories .text-container h1 {
  margin-bottom: 1rem;
}

.interactive-map .categories .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interactive-map .categories .buttons-container .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 2rem;
}

.interactive-map .categories .buttons-container .btn .circle {
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
  border: 3px solid black;
  margin-bottom: 1rem;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
}

.interactive-map .categories .buttons-container .btn:nth-child(1) .circle {
  background-color: var(--btn-color-blue);
}

.interactive-map .categories .buttons-container .btn:nth-child(2) .circle {
  background-color: var(--btn-color-orange);
}

.interactive-map .categories .buttons-container .btn:nth-child(3) .circle {
  background-color: var(--btn-color-green);
}

.interactive-map .categories .buttons-container .btn:hover .circle {
  border: 3px solid white;
}

.interactive-map .map-zone-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  width: 100%;
}

.interactive-map .map-zone-container .map-image {
  width: 60%;
  height: 40rem;
  background-color: #c9c9c9;
  border-radius: 3rem;
  border: 3px solid black;
}

.interactive-map .map-zone-container .overlay-buttons {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.interactive-map .map-zone-container .overlay-buttons .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 1rem;
}

.interactive-map .map-zone-container .overlay-buttons .btn .circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 4rem;
  border: 3px solid black;
  cursor: pointer;
}

.interactive-map .map-zone-container .overlay-buttons .btn .logo {
  height: 4rem;
  width: 4rem;
  background-color: white;
  border: 3px solid #1b1b1b;
  margin-bottom: 1rem;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  cursor: pointer;
}

.interactive-map .map-zone-container .overlay-buttons .btn .logo-scale-animation {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.interactive-map .map-zone-container .overlay-buttons .btn:hover .logo {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.interactive-map .map-zone-container .overlay-buttons .btn-history .circle {
  background-color: var(--btn-color-blue);
}

.interactive-map .map-zone-container .overlay-buttons .btn-legends .circle {
  background-color: var(--btn-color-orange);
}

.interactive-map .map-zone-container .overlay-buttons .btn-present .circle {
  background-color: var(--btn-color-green);
}

.modal-window-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-window-container .content {
  width: 100%;
  height: 100%;
}

.modal-window-container .window-content {
  width: 60%;
  height: 60%;
  border-radius: 2rem;
  background-color: grey;
  padding: 1rem;
}

.modal-window-container .window-content .content-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.modal-window-container .window-content .content-top .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.modal-window-container .window-content .content-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal-window-container .window-content .content-bottom p {
  width: 50%;
  text-align: justify;
}

.modal-window-container .window-content .content-bottom .video-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
  height: 20rem;
  background-color: white;
  border-radius: 1rem;
  border: 3px solid black;
}

.window-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.window-gallery .window-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
}

.window-gallery .window-content .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40rem;
  height: 20rem;
  position: relative;
  opacity: 1;
  margin-bottom: 1rem;
  margin-right: 0.3rem;
}

.window-gallery .window-content .image-container .btn {
  border: 3px solid white;
  padding: 1rem;
}

.window-gallery .window-content .image-container .image-carousel-overflow {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid red;
}

.window-gallery .window-content .image-container .image-carousel-overflow .image-carousel {
  position: absolute;
  -webkit-animation: 15s image-carousel-animation infinite;
          animation: 15s image-carousel-animation infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 500%;
}

.window-gallery .window-content .image-container .image-carousel-overflow .image-carousel .image {
  width: calc(100% / 5);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("./images/simkunaite/simkunaite1.jpg");
}

@-webkit-keyframes image-carousel-animation {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes image-carousel-animation {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
/*# sourceMappingURL=index.css.map */